/* This is a single-line comment
    Dark Blue: #011627
    White: #FDFFFC
    BlueGreen: #2EC4B6
    Red: #E71D36
    Yellow: #FF9F1C

*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
    background-color: #2EC4B6;
    height: 100px;
    color: #FDFFFC;
}

.navbar {
    background-color: #2EC4B6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.bg-danger {
    background-color: #E71D36;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul{
list-style-type: none;
margin:0;
padding:0;
}
