/* This is a single-line comment
    Grey: #595758
    BLue: #2274A5
    Cream: #D6F9DD
    Black: #00394A
    Orange: #EA4E18
  
*/

body {
    /*padding-top: 50px;*/
    padding-bottom: 0;
    background-color: #595758;
    color: #00394A;
}

footer {
    background-color: #00394A;
    height: 100px;
    color: #D6F9DD;
    padding-top: 1em;
    /*padding-left: 2em;*/
    /*height: 4em;*/
    flex-shrink: 0;
}

a {
    color: #EA4E18;
}

h2 {
    color: #D6F9DD;
}

.card h2 {
    color: #00394A;
}



.btn {
    background-color: #00394A;
    color: #D6F9DD;
    transition-duration: 0.25s;
}

.btn-sm{
    padding:0;
}

a:hover {
    color: #D6F9DD;
}

.card a:hover {
    color: #595758;
}
.btn:hover {
    background-color: #EA4E18;
    color: #D6F9DD;
}

.nav-link {
    color: #D6F9DD;
}

    .nav-link:hover {
        background-color: #EA4E18;
        color: #D6F9DD;
    }
.dropdown-menu {
    background-color: #00394A;
    color: #D6F9DD;
}

.dropdown-toggle:hover {
    background-color: #EA4E18;
    color: #D6F9DD;
}
.dropdown-menu li:hover {
    background-color: #EA4E18;
    color: #D6F9DD;
}
.navbar-toggler-icon {
    background-color: #EA4E18;
}

.padding {
    padding-top: 1em;
    padding-bottom: 1em
}

.margin {
    margin-top: .5em;
    margin-bottom: .5em;
}

.navbar {
    background-color: #00394A;
    color: #D6F9DD;
}

.navbar-brand {
    padding: 0;
}

.nav-item {
    /*margin-top: 50px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
}

.col{
    padding-left: 7px;
    padding-right:7px;
}

body, wrapper {
    min-height: 100vh;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.bg-danger {
    background-color: #EA4E18;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modal-header{
    display:inline;
}

.card {
    background-color: #D6F9DD;
    color: #00394A;
}

.forecast-body{
    padding-right:.12rem;
    padding-left:.12rem;
}
