@model IEnumerable<PlanMyRun.Models.RunModels.DailyRunForecast>

@{
    ViewBag.Title = "GetRunsWithForecast";
}

<h2>GetRunsWithForecast</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>
</table>
<div class="container-fluid">
    <div class="row">


        @foreach (var item in Model)
        {
            <div class="col">
                <div class="padding">

                    @Html.Partial("_ForecastDayPartial", item.DaysForecast)
                </div>
                <div class="padding">

                    @if (item.DaysRun.Id != 0)
                    {
                        @Html.Partial("_RunDetailList", item.DaysRun)
                    }
                </div>
            </div>

        }
    </div>
</div>



