@model PlanMyRun.Models.RunModels.WeeklyRunForecastList

@{
    ViewBag.Title = "GetRunsWithForecast";
}

<h2>Dashboard</h2>
<hr />
<div class="container">
    <div class="row">
        @Html.Partial("_ForecastDayPartial", Model.WeeklyForecast.Days)
    </div>
</div>


<h2>Upcoming Runs</h2>
<hr />
<div class="container">
    <div class="row">
        @Html.Partial("_RunDetailList", Model.WeeklyRuns)

    </div>
</div>
